Repository johndutchover/insight-ai-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_dependencies, test, checkmake

install_dependencies:
  stage: install
  script:
  - source .venv/bin/activate
  - pip install -r app/dev-requirements.txt
  - pip install -r app/requirements.txt
  - pip install pre-commit

test:
  stage: test
  image: python:3.11.4
  script:
  - source .venv/bin/activate

checkmake:
  image: ubuntu:jammy
  stage: code_quality
  script:
  - source .venv/bin/activate
  - apt-get install -y golang-go
  - export GOROOT=/usr/local/go
  - export GOPATH=$HOME/go
  - export PATH=$GOPATH/bin:$GOROOT/bin:$PATH
  - go version
  - pip install pre-commit
  - pre-commit run --all-files

Update pyproject.toml bandit
  pyproject.toml
Due: none

bandit change in .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: install_dependencies, test

bandit still separate
  .gitlab-ci.yml
Due: install_dependencies, test

bandit config in pyproject.toml
  pyproject.toml
Due: none

back to 7.3.0
  .gitlab-ci.yml
Due: install_dependencies, test

add rule to mega linter
  .gitlab-ci.yml
Due: install_dependencies, test

add rule for mega linter
  .gitlab-ci.yml
Due: install_dependencies, test

rename test job and stage
  .gitlab-ci.yml
Due: install_dependencies, test

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: install_dependencies, test

check config_changes before install
  .gitlab-ci.yml
Due: install_dependencies, test

config_changes
  .gitlab-ci.yml
Due: install_dependencies, test

use os.getenv
  app/main.py
Due: install_dependencies, test

RootResponse model added
  app/main.py
Due: install_dependencies, test

update for pip-tools 8.0.0 deprecation
  cli/requirements_cli.txt
  frontend/requirements_frontend.txt
Due: install_dependencies, test

cleanup Makefile and README.md
  Makefile
  README.md
Due: checkmake

update packages
  app/requirements.txt
  app/requirements_dev.txt
Due: install_dependencies, test

python 3.11.6
  app/.python-version
  app/Dockerfile
Due: install_dependencies, test

marvin 1.4.2 pydantic 1.10.13 ready
  .idea/runConfigurations/Python_tests_in_test_translate_py.xml
  .python-version
  app/main.py
  app/requirements.txt
  app/requirements_dev.txt
  app/routers/facts.py
  requirements-dev.in
  requirements.in
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: install_dependencies, test

mega-linter gha [skip.ci]
  .github/workflows/mega-linter.yml
  .mega-linter.yml
  README.md
Due: install_dependencies, test

mega-linter badge [skip.ci]
  README.md
Due: install_dependencies, test

gha image [skip.ci]
  .gitlab-ci.yml
Due: install_dependencies, test

gitlab [skip.ci]
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: install_dependencies, test

gitlab-ci.yml
  .gitlab-ci.yml
Due: install_dependencies, test

bump linter ver
  .gitlab-ci.yml
Due: install_dependencies, test

add Containerfile
  Containerfile
Due: install_dependencies, test

set app_module
  Containerfile
Due: install_dependencies, test

TL Dockerfile
  Dockerfile
Due: install_dependencies, test

Refactor multi fly
  .gitlab-ci.yml
  Makefile
  app/fly.production.toml
  app/fly.staging.toml
  frontend/fly.production.toml
Due: checkmake

remove marvin pin 1.4.2
  requirements.in
Due: none

minor
  app/requirements.txt
Due: install_dependencies, test

add pydantic-settings
  requirements-dev.in
Due: install_dependencies, test

pydantic 2.5.0 but dev unstable
  app/requirements.txt
  requirements.in
Due: none

marvin 1.5.6 fastapi 0.104.1 pydantic 2.5.0
  app/requirements.txt
  app/requirements_dev.txt
  requirements-dev.in
  requirements.in
Due: none

Path conditions:
  install_dependencies: not (any of: Makefile, dev-requirements.in, requirements.in, pyproject.toml)
  test: not (any of: Makefile, dev-requirements.in, requirements.in, pyproject.toml)
  checkmake: any of: Makefile, makefile, GNUmakefile, **.mk, **.make
